[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
backcall = "*"
billiard = "*"
bleach = "*"
boto3 = "*"
botocore = "*"
celery = "*"
certifi = "*"
decorator = "*"
dj-database-url = "*"
django-celery-beat = "*"
django-grappelli = "*"
django-heroku = "*"
django-markdownify = "*"
django-nested-admin = "*"
django-redis-cache = "*"
django-storages = "*"
django-timezone-field = "*"
docutils = "*"
gunicorn = "*"
importlib-metadata = "*"
ipython = "*"
jedi = "*"
jmespath = "*"
kombu = "*"
more-itertools = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pipenv = "*"
psycopg2-binary = "*"
ptyprocess = "*"
python-crontab = "*"
python-dateutil = "*"
python-monkey-business = "*"
pytz = "*"
redis = "*"
s3transfer = "*"
sqlparse = "*"
traitlets = "*"
urllib3 = "*"
vine = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
webencodings = "*"
whitenoise = "*"
zipp = "*"
Django = "*"
ipython_genutils = "*"
Markdown = "*"
prompt_toolkit = "*"
Pygments = "*"
PyYAML = "*"
tba-api-v3client = {git = "https://github.com/TBA-API/tba-api-client-python.git",editable = true,ref = "efeddcf12ec5b6e0788ea6737eff079d8dd9873e"}
django-simple-history = "*"

[dev-packages]

[requires]
python_version = "3.7"
