[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.7"


[packages]
Django = ">=2.0"
pytz = ">=2017.3"
pyYAML = ">=3.12"
ipython = ">=6.2.1"
"dj-database-url" = "*"
"django_heroku" = "*"
"django-markdownify" = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
pexpect = "*"
"django-redis-cache" = "*"
django-nested-admin = "*"
django-grappelli = "*"
pyyaml = ">=4.2b1"
"celery[redis]" = "*"
celery = "*"
tba-client = { git = 'https://github.com/TBA-API/tba-api-client-python.git', editable = 'true' }
django-celery-beat = "*"

[dev-packages]
