{% extends "blog/base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <div>
        <h3>File To Delete</h3>
        <div>
            {% if 'image/' in fil.get_content_type.0 %}
                <img src="{{ fil.get_absolute_url }}" width="128">
            {% else %}
                <a href="{{ fil.get_absolute_url }}" download>Download</a>
            {% endif %}
        </div>
    </div>

{% endblock content %}
