{% extends "blog/base.html" %}

{% block post %}

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>


    <script src="/static/files/js/basic-upload.js"></script>
{% endblock post %}

{% block content %}
    <h1>Upload File(s)</h1>
    <button type="button" class="btn btn-primary js-upload-photos">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>

    {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'blog:upload_file' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

    <h1>Existing Files</h1>
    <table id="gallery" class="table table-bordered">
        <thead>
        <tr>
            <th>Photo</th>
        </tr>
        </thead>
        <tbody>
        {% for fil in files %}
            <tr>
                <td><a href="{{ fil.get_absolute_url }}">{{ fil.title }}</a></td>
                <td>{{ fil.get_rel_url }}</td>
                <td>
                    {% if fil.get_ext=='.jpg' or fil.get_ext=='.png' %}
                        <img src="{{ fil.get_absolute_url }}" width="128">
                    {% else %}
                        {{ fil.get_content_type }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
