{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% cache 600 title %}
        <title>
        {% for title in base_title %}
            {{ title.body }}{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
        {% empty %}
            RoboLoCo
        {% endfor %}
    {% endcache %}
    &nbsp;|&nbsp;
    {% block title %}
        {% for dtitle in default_title %}
            {{ dtitle.body }}{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
        {% empty %}
            Team 5338
        {% endfor %}
    {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/blog/Logo.ico">
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    
    {% block pre %}
    {% endblock %}
</head>


<!-- navbar -->
{% cache 600 navbar HEROKU_RELEASE_VERSION user %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary bd-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'blog:home' %}">
                <img src="/static/Logo.svg" width="30" height="30" class="d-inline-block align-top"/>&nbsp;RoboLoCo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    {% for nav in nav_items %}
                        <!--Nav={{ nav.pk }}-->
                        {% if nav.has_children %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ nav.title }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'blog:nav' nav.link %}">{{ nav.title }}</a>
                                    <div class="dropdown-divider"></div>
                                    {% for nav_child in nav.kids %}
                                        <a class="dropdown-item" href="{% url 'blog:nav' nav_child.link %}">
                                            {{ nav_child.title }}
                                        </a>
                                    {% empty %}
                                        <!--Oops-->
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:nav' nav.link %}">{{ nav.title }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    <!-- show management menu only if user is authenticated -->
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Management </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="{% url 'blog:user_posts' user.username %}">My Posts</a>
                                <a class="dropdown-item" href="{% url 'blog:create_post' %}">New Post</a>
                                <a class="dropdown-item" href="{% url 'blog:upload_file' %}">File Upload</a>
                                {% if user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endcache %}

<body>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="col-12 bd-content" role="main">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<hr>

<!-- footer -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--Manual Footer-->
            {% block footer %}{% endblock %}
            <!--Footers-->
            {% cache 600 footer user HEROKU_RELEASE_VERSION %}
                {% for foot in footer %}
                    <div class="text-center">
                        <!--Footer={{ foot.pk }}-->
                        {% autoescape off %}
                            {{ foot.body }}{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
                        {% endautoescape %}
                    </div>
                {% endfor %}
                <!-- Logged user info -->
                {% if user.is_superuser %}
                    <p class="text-center">
                        Superuser: {{ user.username }}&nbsp;&nbsp;&nbsp;Version: {{ HEROKU_RELEASE_VERSION }}
                        / {{ HEROKU_SLUG_COMMIT }}
                    </p>
                {% elif user.is_staff %}
                    <p class="text-center">
                        Staff User: {{ user.username }}
                    </p>
                {% elif user.is_authenticated %}
                    <p class="text-center">
                        Current User: {{ user.username }}
                    </p>
                {% else %}
                    <p class="text-center">
                        <a href="mailto:contact@roboloco.org">contact@roboloco.org</a>
                    </p>
                {% endif %}

            {% endcache %}

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% block post %}
{% endblock %}
</body>
</html>