{% extends "blog/base.html" %}

{% block navbar %}
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Manage Current Meeting </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <form method="post" action="{% url 'blog:end_meeting' meeting.id %}" class="form-horizontal">
                    <div>
                        {% csrf_token %}
                        {{ pw_form }}
                    </div>
                    <br>
                    <div>
                        <input type="submit" value="End Meeting" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </li>
    </ul>
{% endblock %}

{% block pre %}
    <style>
        .button {
            background-color: #593196;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Sign In</h2>
                <form action="" method="post" class="form-horizontal">

                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-sm-9">

                            <!-- Errors - body -->
                            {% if form.body.errors %}
                                <label class="alert alert-danger">{{ form.body.errors }}</label>
                            {% endif %}

                            <!-- Form field - body -->
                            {{ form }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="col-md-6 col-md-offset-4">
            <h2>Sign Out Buttons</h2>
            <p>Only press once! Don't signout others!</p>
            <div>
                {% for team, signed_in_users in signed_in %}
                    <div>
                        <h4>{{ team }}</h4>
                        <div>
                            {% for signin in signed_in_users %}
                                <a href="/signout/{{ signin.id }}" class="button">
                                    {{ signin.user.name }}
                                </a>
                            {% empty %}
                                No one is signed in yet!
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}